@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.container{
  border: 20px solid blue;
  height: auto; /* Adjust the height as needed */
  width: 100vw; /* Adjust the width as needed */
  box-sizing: border-box;
  padding-top: 50px;
  
}
.box1{
height: 85vh;
}

.bio{
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
}

.flex{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  
}
.hand-image{
  width: 30px;
  height: 30px;
}
.test{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

  
}

.test2{
  margin: 0px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;

  
}
.text1{
  text-align: left;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}
.transparent{
  width: 2000px;
  
}

.top-margin{
  margin-top: 10px;
}
.arrow-image{
  
  width: 60px;
  height: 45px;
  padding-left: 50px;
}

.under-border{
  border-bottom: 3px solid blue;
  display: flex;
}

.box2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 100px;
}