@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.container{
  border: 20px solid #4169E1;
  height: 100vh; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
  box-sizing: border-box;
  padding-top: 50px;
  overflow: scroll;
  background-color: aliceblue;
}

.container2{
  border: 20px solid #008080;
  height: 100vh; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
  box-sizing: border-box;
  padding-top: 50px;
  overflow: scroll;
  background-color: aliceblue;
}

.box1{
height: 70vh;
}

.bio{
  font-size: 24px;
  line-height: 40px;
  font-weight: 900;
}

.flex{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  
}
.hand-image{
  width: 30px;
  height: 30px;
}
.test{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;

  
}

.test2{
  margin: 0px;
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;

  
}
.text1{
  text-align: left;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
}


.top-margin{
  margin-top: 10px;
}

.under-border{
  border-bottom: 3px solid #4169E1;
  display: flex;
}
.under-border:hover{
  background-color: #4169E1;
  color: white;
  height: 20px;
  padding: 10px;
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}
.under-border:hover::before {
  height: 100%;
}

.under-border-red{
  border-bottom: 3px solid #008080;
  display: flex;
}
.under-border-red:hover{
  background-color: #008080;
  color: white;
  height: 20px;
  padding: 10px;
  transition: height 0.3s ease-in-out;
  cursor: pointer;
}
.under-border-red:hover::before {
  height: 100%;
}








.arrow-image{
  width: 60px;
  height: 45px;
  /* padding-left: 50px; */
  margin-top: 7px;
}
.arrow-image:hover{
  width: 60px;
  height: 45px;
  /* margin-top: 7px; */
}



.box2 {
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 100px;
}
.circle-hover{
  margin-left: 50px;
}

.circle-hover:hover{
  background-color: #4169E1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;

}

.circle-hover2{
  margin-left: 50px;
}

.circle-hover2:hover{
  background-color: #008080;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;

}
.max-width-banner-1{
 max-width: 560px;
 padding-left: 55px;
}

@media(max-width: 500px){


.arrow-image{
  width: 60px;
  height: 45px;
  /* padding-left: 50px; */
  margin-top: 67px;
}
.arrow-image:hover{
  width: 60px;
  height: 45px;
  /* margin-top: 7px; */
}

.circle-hover{
  margin-left: 50px;
  margin-top: 67px;
 
}

.circle-hover:hover{
  background-color: #4169E1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;

}

.circle-hover2{
  margin-left: 50px;

}

.box2 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 46px;
}
.circle-hover2:hover{
  background-color: #008080;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;

}

}