.coffee-img{
    width: 60px;
    height: 60px;
    
}

.container-coffe{
    width: 100%;
    height: 350px;
    padding: 80px;
    padding-top: 150px;
    background-color: beige;
}
.separation{
    margin-right: 10px;
}
.text1{
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
  }

 

  .a_tag-decoration {
    position: relative;
    text-decoration-color: blue ;
    color: black;
    z-index: 1;
  }
  
  .a_tag-decoration::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: blue;
    transition: height 0.3s ease-in-out;
    z-index: -1; 
  }

  
  .a_tag-decoration:hover::before {
    height: 100%;
  }


  .a_tag-decoration {
    position: relative;
    text-decoration-color: red ;
    color: black;
    z-index: 1;
  }
  
  .a_tag-decoration::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: red;
    transition: height 0.3s ease-in-out;
    z-index: -1; 
  }

  
  .a_tag-decoration:hover::before {
    height: 100%;
  }

  @media(max-width:450px){
    .container-coffe {
      width: 100%;
      height: 350px;
      padding: 30px;
      padding-top: 103px;
      background-color: beige;
  }
  }