.projects-main{
    background-color: #F3F0F0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.margin-auto{
    margin: auto;
}

.workCard-image{
width: 1000px;
height: 600px;
background-color: white;
border-radius: 30px;
}
.flex-2{
    display: flex;
    justify-content: space-around;
}
.padding-letters{
    padding: 0px;
}
@media(max-width: 450px){
    .flex-2{
        display: block;
        padding: 30px;
        
    }
    .workCard-image{
        width: 301px;
        height: 370px;
        background-color: white;
        border-radius: 30px;
        display: block;
    margin: auto;
    
        }
        .padding-letters{
            padding: 30px;
        }
}

.max-width{
    max-width: 600px;
}
.text1{
    text-align: left;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
  }
.separation{
    padding-top: 40px;
}
.bold{
font-weight: bold !important;
}